.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.inner-container-large {
    display: flex;
    flex-direction: column;
    flex-basis: 95vw;
    flex-shrink: 0;
    padding-bottom: 10vh;
}
.inner-container-small {
    display: flex;
    flex-direction: column;
    flex-basis: 80vw;
}