.tvArticle-outer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 25px;
    align-items: center;
}
.tvArticle-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10rem
}

img {
    max-width: 40vw;
    max-height: 40vh;
}
ul {
    display: flex;
    flex-direction: row;
}