.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 95vw;
}

.salesOverviews {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}